/* --- BANNER DEL TÍTULO --- */

.banner-titulo {
    background-color: #2c3e50; 
}
[data-bs-theme="dark"] .banner-titulo {
    background-color: #1e293b !important; 
}

/* --- ANIMACIONES Y HOVER DE LA TABLA --- */
.precio {
    transition: all 0.3s ease;
    font-size: 16px;
}

.table-hover tbody tr:hover {
    background-color: #e6f0ff !important; /* Celeste claro personalizado */
    cursor: default;
}

.table-hover tbody tr:hover .precio {
    color: #1a73e8 !important; 
    font-size: 19px;
    transform: scale(1.1);
}

/* los botones de tooltip */
.tooltip-custom {
    cursor: help;
    font-size: 14px;
    padding: 8px 12px;
}

/* --- MODO OSCURO (Solo excepciones personalizadas) --- */

[data-bs-theme="dark"] .table-hover tbody tr:hover {
    background-color: #334155 !important;
}

[data-bs-theme="dark"] .table-hover tbody tr:hover .precio {
    color: #6ea8fe !important; 
}